body{
    background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    padding: 40px;
     font-family:sans-serif;
}
.coffee{
    width: 80%;
    background-color: burlywood;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}
.estd{
    text-align: center;
    font-style: italic;
    margin-top: -10px;
}
h1{
    margin-top: 3px;
}
h1,h2{
    text-align: center;
    font-family: Impact, serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
section p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 19px;
}
.flavor{
    display: inline-block;
    text-align: left;
    width: 75%;
}
.price{
    display: inline-block;
    text-align: right;
    width: 25%;
}
.line{
    background-color: brown;
    padding: 2px;
    border: none;
    margin-bottom: 20px;
}
address{
    text-align: center;
    font-style: normal;
}
.ling:visited{
    color: black;
}
.ling:hover{
    color: brown;
}